@{
    Page.Title = "Aniversários";
    Layout = "_Layout.cshtml";
}


    <div class="row featurette col-md-12">
        
        
       
       
        <div class="col-md-7">
            <img class="featurette-image img-responsive center-block" src="~/imagens/aniver.jpg" >
        </div>
        <div class="col-md-4">
            <img src="~/imagens/anive2.jpg" />
            <br/><br/><br/>
            <p class="lead">Daniela comemorando seu 23º aniversário.</p>
        </div>
    </div>