@{
    Page.Title = "Casamentos";
    Layout = "_Layout.cshtml";
}

 <div class="col-md-12">

     


    <div class="col-md-6">
        <img class="imgW100" src="~/imagens/marriage.jpg" />
    </div>
     <div class="col-md-6">
         <img class="imgW100" src="~/imagens/marriage2.jpg" />

         <br/><br/><br/>
         <Font size="5" face="Arial">

             <p class="lead">Venha festejar conosco uma data inesquecível como essa.</p>
         </Font>
     </div>  


