@{
    Page.Title = "Confraternizações";
    Layout = "_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-6">
        <img class="imgW100" src="~/imagens/Confraternizacoes.jpg" />
    </div>
    <div class="col-md-6">
        <img class="imgW100" src="~/imagens/confr.png" />

        <br /><br /><br />

        <Font size="5" face="Arial">

            <p class="lead">Compartilhar momentos especiais entre amigos é nossa satisfação.</p>
        </Font>
    </div>
</div>