@{
    Page.Title = "Fale conosco";
    Layout = "_Layout.cshtml";
}

<div class="col-md-12">
    <h1>Localização:</h1>

    <div class="col-md-5">
        <img src="~/imagens/Apps-Google-Maps-icon-225x158.png" /> <br/>
        <br />

        <font size="4" face="Times">
            Alameda das Flores, 1160. Jardim Paraíso <br />
            Campinas CEP 04729-080 - SP <br />
            Telefone para contato: (19)2003-4435
           </font>
</div>
    <div class="col-md-7">
        <font size="5" face="Times">
            Horário de atendimento:</h3><br />
            Segunda a sábado das 11h30 as 23h <br />
            Domingos e feriados das 12h as 17h
</font>
</div>
</div>