<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @RenderPage("_cabecalho.cshtml")

        <h1>Bem vindo ao Site do Restaurante</h1>
        <h2>Digitando alguma coisa</h2>

        @RenderPage("_rodape.cshtml")

    </body>
</html>
